body {
    margin-top: 30px;
}
.carousel {
    background: #000;;
}
.carousel .item {
    height: 300px;
    overflow: hidden;
}
.carousel .item img {
    width: 100%;
    height: auto;
    margin-top: -15%;
}
.carousel-caption a {
    color: #fff;
}

.blog-element {
    display: block;
    height: 200px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-element a {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.second-row-padding:nth-child(2) {
    padding-right: 0;
}
.second-row-padding:nth-child(3) {
    padding-left: 0;
}


.third-row-padding {
    padding: 0;
}    
.third-row-padding:nth-child(4) {
    padding-left: 15px;
}
/* .third-row-padding:last-child {
    padding-right: 15px;
} */
.third-row-padding:nth-child(6) {
    padding-right: 15px;
}
/* header search form */
.search-form-container {
    display: none;
    margin-top: 30px;
    position: fixed;
    top: 51px;
    left: 30px;
    right: 30px;
    background-color: rgba(0,0,0,0.9);
    padding: 20px;
    z-index: 2;
}
/* Navbar not hidden by admin wp bar */
.navbar-fixed-top {
    margin: 30px;
}
.open-search a {
    /* "Search" wird ausgeblendet */
    font-size: 0;
    width: 30px;
    position: relative;

}
.open-search a:after {
   
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        position: absolute;
        display: block;
        font-size: 20px;
        left: 0;
        top: 50%;
        line-height: 1em;
        margin-top: -0.5em;

        /* nicht before */
        content: "\e003";
}